<div class="container-fluid">
  This is Rxjs component

  To try this
  <ol>
    <li>Create a node in Firebase called "connected" with value "true"</li>
    <li>Observe dev tools printing out next() value</li>
    <li>Change true to false</li>
    <li>Observe dev tools printing next() value</li>
    <li>Delete node and observe next() value</li>
    <li>Change code to add .take(3) after valueChanges()</li>
    <li>In Firebase console, change values of connect node 3 times</li>
    <li>Should see 3 changes printed out on dev tools, followed by complete message</li>
  </ol>
</div>
